/* 노말라이즈 시작 */
body, ul, li {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}
/* 노말라이즈 끝 */

/* 라이브러리 시작 */
.con {
  margin-left:auto;
  margin-right:auto;
}

.block {
  display:block;
}

.flex {
  display:flex;
}

.img-box > img {
  width:100%;
  display:block;
}

.inline-grid {
  font-size:0;
}

.inline-grid > * {
  font-size:1rem;
  display:inline-block;
  vertical-align:top;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

.border-red {
  border:10px solid red;
}

.border-blue {
  border:10px solid blue;
}

.border-green {
  border:10px solid green;
}

.border-pink {
  border:10px solid pink;
}

.border-gold {
  border:10px solid gold;
}
/* 라이브러리 끝 */

/* 커스텀 시작 */
:root {
  --site-width:1200px;
}
  
/* 탑바 시작 */
.top-bar {
  width:100%;
  height:70px;
  margin:30px 20px;
  border-bottom:2px solid rgba(0,0,0,0.2);
}

/* 로고바 시작 */
.top-bar__logo-bar {
  width:70px;
  height:100%;
  box-sizing:border-box;
  margin:10px 40px;
  white-space:nowrap;
}

.top-bar__logo-bar > .img-box {
  width:70%;
  height:50%;
}

.top-bar__logo-bar > .img-box > img {
  object-fit:cover;
  box-sizing:border-box;
}

/* 메뉴바 시작 */
.top-bar__manu-bar {
  width:100%;
  max-width:var(--site-width);
  height:100%;
}

.top-bar__manu-bar > ul {
  justify-content:flex-end;
  align-items:center;
}

.top-bar__manu-bar > ul > li {
  
}

.top-bar__manu-bar > ul > li > a {
  display:block;
  padding:20px;
  padding-bottom:0;
  font-size:1.3rem;
  margin-right:10px;
  white-space:nowrap;
  font-weight:700;
}

.top-bar__manu-bar > ul > li:hover > a {
  font-style:italic;
  text-shadow:1px 3px 5px rgba(80, 75, 240 , 0.8);
}


/* main img 시작 */
.main-img-box {
  height:500px;
  width:auto;
  justify-content:center;
  align-items:center;
  margin:20px 0;
}

.main-img-box > .img-box {
  width:700px;
  height:500px;
  box-sizing:border-box;
  box-shadow:10px 10px 7px rgba(12, 15, 107,0.5),
    -5px -5px 10px rgba(12, 15, 107,0.3);
}

.main-img-box > .img-box > img {
  width:100%;
  height:100%;
  object-fit:cover;
}

/* 타이틀 문구 시작 */
.title-box {
  width:auto;
  height:100px;
  text-align:center;
}

.title > .title-box {
  width:1000px;
  margin:auto;
  text-align:center;
  vertical-align:center;
}

.title > .title-box > span {
  line-height:100px;
  font-size:4rem;
  letter-spacing:5px;
  font-weight:bold;
  padding:0 10px;
  text-shadow:-4px -4px 10px white;
}

.title > .title-box > span:first-child {
  background:linear-gradient(45deg, #ff9a9e 0%, #fad0c4 90%, #fad0c4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title > .title-box > span:last-child {
  background:linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
